/* Font */
@font-face {
	font-size: small;
	font-weight: normal;
	-webkit-font-smoothing: aliased;
	font-family: 'ArcadeR';
	src: url('../font/ARCADE.TTF');
}

/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	font-family: ArcadeR, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #FFD000;
	background: repeating-linear-gradient(#146EC9, navy);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

a {
	color: #333;
	text-decoration: none;
}

ul {
	list-style: none;
}

/* Header styles */
header {
    border-top: 5px solid #FFD000;
    border-bottom: 5px solid #FFD000;
    border-left: 5vmin solid navy;
    border-right: 5vmin solid navy;
    border-radius: 5vmax;
    background-color: navy;
}

header h1 {
	text-align: -webkit-center;
	font-size: 2rem;
	margin: 0;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	margin-right: 1rem;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #FFD000;
}

nav a:hover {
	background-color: #AB115E;
}

/* Main styles */
main {
	padding: 2rem;
}

section {
	margin-bottom: 2rem;
}

section h2 {
	margin-bottom: 1rem;
}

p a {
	color: #AB115E;
}

.steps{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
	font-weight: bolder;
}

section p:last-child {
	margin-bottom: 0;
}

pre {
    background: repeating-linear-gradient(#AB115E, navy, #146EC9);
	padding: 1rem;
	overflow-x: auto;
}

code {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16px;
}
